$colors: (
  // Base
  White: #ffffff,
  Black: #1e1e1e,

  // Primary
  Primary: #c33329,
  Primary-Tint: #d94f4b,
  Primary-Shade: #a52a2a,
  Primary-Contrast: #ffffff,
  Primary-50: #fdebed,
  Primary-100: #fad6d9,
  Primary-200: #f3c2c4,
  Primary-300: #ecadae,
  Primary-400: #e59997,
  Primary-500: #c33329,
  Primary-600: #af2d24,
  Primary-700: #9a2820,
  Primary-800: #711d17,
  Primary-900: #47110e,
  Primary-950: #1e0705,

  // Secondary
  Secondary: #222d3f,
  Secondary-Tint: #4e5765,
  Secondary-Shade: #1b2432,
  Secondary-Contrast: #ffffff,
  Secondary-50: #eff2f5,
  Secondary-100: #d6dce4,
  Secondary-200: #b0bacd,
  Secondary-300: #7c8cae,
  Secondary-400: #485a80,
  Secondary-500: #222d3f,
  Secondary-600: #1f293a,
  Secondary-700: #182433,
  Secondary-800: #171f2c,
  Secondary-900: #141a26,
  Secondary-950: #10151f,

  // State - Danger
  Danger: #b91c1c,
  Danger-Tint: #c74949,
  Danger-Shade: #941616,
  Danger-Contrast: #fbe8e8,
  Danger-50: #fbe8e8,
  Danger-100: #f6caca,
  Danger-200: #f0afaf,
  Danger-300: #ea9393,
  Danger-400: #e47979,
  Danger-500: #b91c1c,
  Danger-600: #a31717,
  Danger-700: #8c1313,
  Danger-800: #750f0f,
  Danger-900: #5e0b0b,
  Danger-950: #470707,

  // State - Warning
  Warning: #ffb703,
  Warning-Tint: #ffc535,
  Warning-Shade: #cc9202,
  Warning-Contrast: #fffbe6,
  Warning-50: #fffbe6,
  Warning-100: #fff3b0,
  Warning-200: #ffe97a,
  Warning-300: #ffdf44,
  Warning-400: #ffd50e,
  Warning-500: #ffb703,
  Warning-600: #e6a103,
  Warning-700: #cc8b03,
  Warning-800: #b37503,
  Warning-900: #995f03,
  Warning-950: #804903,

  // State - Success
  Success: #4caa55,
  Success-Tint: #70b477,
  Success-Shade: #3d8144,
  Success-Contrast: #edf6ee,
  Success-50: #edf6ee,
  Success-100: #d3ead6,
  Success-200: #b9debe,
  Success-300: #9fd2a6,
  Success-400: #85c68e,
  Success-500: #4caa55,
  Success-600: #43984b,
  Success-700: #3a8642,
  Success-800: #327439,
  Success-900: #296230,
  Success-950: #205027,

  // State - Info
  Info: #1c78aa,
  Info-Tint: #4993bb,
  Info-Shade: #166088,
  Info-Contrast: #ebf2f7,
  Info-50: #ebf2f7,
  Info-100: #cfe0ed,
  Info-200: #b3cee3,
  Info-300: #97bcd9,
  Info-400: #7baacf,
  Info-500: #1c78aa,
  Info-600: #196c99,
  Info-700: #166088,
  Info-800: #135477,
  Info-900: #104866,
  Info-950: #0d3c55,

  // Light Variants;
  Light: #c0c0c0,
  Light-50: #f5f5f5,
  Light-100: #eeeeee,
  Light-200: #e5e5e5,
  Light-300: #dddddd,
  Light-400: #d4d4d4,
  Light-500: #c0c0c0,
  Light-600: #aaaaaa,
  Light-700: #9c9c9c,
  Light-800: #8e8e8e,
  Light-900: #808080,
  Light-950: #707070,

  // Dark Variants;
  Dark: #1d1f25,
  Dark-50: #5e6066,
  Dark-100: #4a4b50,
  Dark-200: #38393e,
  Dark-300: #25272e,
  Dark-400: #21232a,
  Dark-500: #1d1f25,
  Dark-600: #191b20,
  Dark-700: #15171c,
  Dark-800: #121212,
  Dark-900: #0c0e12,
  Dark-950: #06070a
);

:root {
  @each $key, $value in $colors {
    @if type-of($value) == "map" {
      @each $subkey, $subvalue in $value {
        --color-#{$key}-#{$subkey}: #{$subvalue};
      }
    } @else {
      --color-#{$key}: #{$value};
    }
  }
}
